@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


html{
  max-width: 100%;
  overflow-x: hidden;
}
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;

}

section{
  padding: 100px;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateY(-100%);
        background:black;
    }
    100% {
        transform: translate(0);
        background: black;
    }
}

.banner{
  position: relative;
  min-height: 100vh;
  background: url(Images/drone_auto_x1.jpg);
  background-position: 200px;
  background-repeat: no-repeat;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInFromLeft;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;

}

.banner h2{
  font-size: 2em;
  color:#fff;
  font-weight: 500;
  line-height: 1.8em;
}

.banner h2 span{
  font-size: 2.0em;
  font-weight: 700;
}

.banner h3 {
  font-size: 1.5em;
  color:#fff;
  font-weight: 500;
  z-index: 999;
  position: absolute;
}

@media screen and (min-width: 1200px){
  .banner{
background-size: contain;
background-position: center;
  }
  .img{
    width: min-content;
    object-fit: cover;
  }
}

.btn{
  position: relative;
  background: #222;
  display: inline-block;
  color: #fff;
  margin-top: 60px;
  padding: 10px 30px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500;
}

.btn:hover{
  background: #646464;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
header.sticky{
  background: #fff;
  padding: 20px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

header .logo{
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 5px;
  text-decoration: none;
}

header .logo:hover{
transform: rotate(360deg);
transition: .9s;

}

header.sticky .logo
{
  color: #111;
}
header ul{
  position: relative;
  display: flex;
}

header ul li{
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  display: inline-block;
  margin: 0 20px;
  color: #fff;
  text-decoration: none;
}
header.sticky ul li a{
  color: #111;
}

@media screen and (max-width: 991px){
  header,
  header.sticky{
    padding: 20px 50px;
    z-index: 1000;
  }
  .menu{
    position: fixed;
    top: 75px;
    left: -100%;
    display: block;
    padding: 100px 50px;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: #fff;
    transition: 0.5s;
    z-index: 999;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  .menu.active{
    left: 0;
  }

  header ul li a {
    color: #111;
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
  }
  .toggle{
    width: 40px;
    height: 40px;
    background: url(Images/menu.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    cursor: pointer;
  }

  .toggle.active{
    background: url(Images/close.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    cursor: pointer;
  }
  header.sticky .toggle{
    filter: invert(1);
  }
  section{
    padding: 100px 50px;
  }

  .banner{
    padding: 150px 50px 100px;
    background-position: 120% 100%;
    background-size: 150%;
  }
  .textBx{
    padding-bottom: 400px;
  }
  .banner h2{
    font-size: 1.5em;
  }
  .banner h3{
    font-size: 1em;
  }
  .btn{
    top: 20px;
    font-size: 16px;
  }
  .heading h2{
    font-size:24px;
  }
  .contentBx h3{
    font-size: 20px;
  }
  .content{
    flex-direction: column;
  }

  .w50{
    min-width: 50%;
    margin-bottom: 20px
  }
  .img{
    padding-left: 30px;
    width: min-content;
    object-fit: cover;
  }
  .social-icons{
    transform: translateX(-70px);
  }

}

.heading{
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: #111;
  margin-top: -50px;
}

.heading h2{
  padding-top: 50px;
  font-weight: 700;
  font-size: 30px;
  color: #111;
}
.content{
  display: flex;
  justify-content: space-between;
}

.contentBx{
padding: 0 30px;
}
.contentBx h3{
  font-size: 24px;
  margin-bottom: 10px;
}

.w50{
  min-width: 50%;
  margin-right: 50px;
}
.img{
  height: 300px;
}

img{
  max-width: 100%;
}

.services{
  background: #111;
}
.services .heading h2{
  color: white;
}

.services .content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.services .content .servicesBx{
  padding: 40px 20px;
  background: #222;
  color: #fff;
  max-width: 340px;
  margin: 20px;
  text-align: center;
  transition: 0.5s;
}
.services .content .servicesBx:hover{
  background: #FBFCFC;
  color: black;
}

.servicesBx h2{
  padding-top: 30px;
}



@media screen and (max-width: 1326px){
  .deca{
    margin-top: 30px;
  }

}

.spark{
  padding: 50px;
}

.ev{
  padding: 20px 15px;
}

.cw{
  padding-top: 45px;
}

.hsyc{
  padding-top: 70px;
}

.work{
  max-width: 100%;
  padding: 14px 28px;

}
.btn-group .button {
  background-color: #fff;
  border: 2px solid #111;
  color: #111;
  padding: 20px 0px;;
  cursor: pointer;
  width: 100%;
  display: block;
  border-radius: 8px;
}

.btn-group .button:not(:last-child) {
  border-bottom: none;

}


.button{
  text-align: center;
  text-decoration: none;
  font-size: 20px;

}

.btn-group .button:hover {
  transition-duration: 0.4s;
  background: #646464;
  color: white;
}

.awardss{
  background: #111;
}

.awardss .heading h2{
  color: #fff;
}

.contact{
  background: #fff;
  margin-bottom: -100px;

}

.formBx{
  min-width: 60%;
}

.formBx form{
  display: flex;
  flex-direction: column;
}


.formBx form h3{
  color: #111;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  padding-top: 40px;
}

.formBx form input,
.formBx form textarea
{
  margin-bottom: 20px;
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: none;
  background: #222;
  color: #fff;
  resize: none;
}

.social-icons {
    vertical-align: center;
    margin-left: 39%;
}


.social-icons svg {
    transition: .9s;
}

.social-icons svg:hover {
    transform: rotate(360deg);
    transition: .9s;
}

.social-icons svg {
    display: inline;
    margin: auto 15px;
}

.social-icons a:nth-child(1) svg {
    margin-left: 0;
}

.social-icons a:nth-child(1) svg:hover path {
    fill: red;
}

.social-icons a:nth-child(2) svg:hover path {
    fill: #0072b1;
}

.social-icons a:nth-child(3) svg:hover path {
    fill: #431c53;
}

.social-icons a:nth-child(4) svg:hover path {
    fill: #DD2A7B;
}


@media screen and (max-width: 1000px){
.formBx form input[type="submit"]{
  transform: translateX(-20%);
  }
}

.formBx form textarea
{
  min-height: 200px;
}
.formBx form input::placeholder,
.formBx form textarea::placeholder
{
  color: #999;
}

input:hover[type="submit"]
		{
			background: #646464;
		}

.formBx form input[type="submit"]{
  max-width: 100px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 45%;
}
